#argus中心服务证书公钥路径(.pem文件)
server.public=

#argus中心服务证书私钥路径（pkcs8.key）
server.pkcs8=

#ca证书公钥路径（.pem）
ca.public=

#argus中心服务的端口
server.port=

#argus插件的证书（公钥）存放目录
server.module.pub.dir=

#向argus注册的模块格式为（module://模块1?version=版本1,版本2;module://模块2?version=版本1,版本2）
modules=

